In [1]:
import pandas as pd

In [2]:
ser= pd.Series([23,56,44,32,10,100,46,89,91])
ser

0     23
1     56
2     44
3     32
4     10
5    100
6     46
7     89
8     91
dtype: int64

In [3]:
ser>50

0    False
1     True
2    False
3    False
4    False
5     True
6    False
7     True
8     True
dtype: bool

In [4]:
ser[ser>50]

1     56
5    100
7     89
8     91
dtype: int64

In [7]:
ser[(ser>30) & (ser<70)]

1    56
2    44
3    32
6    46
dtype: int64

In [14]:
# between
ser[ser.between(32,70,inclusive='both')]  #'both', 'neither', 'left', 'right'

1    56
2    44
3    32
6    46
dtype: int64

In [17]:
ser[ser==46]

6    46
dtype: int64

In [19]:
# isin()

ser[ser.isin([46])]

6    46
dtype: int64

In [21]:
# dictionary series 
serd= pd.Series({'name':'Arshdeep Singh', 'class':'Btech', 'rollno':45,'Age':22})
serd

name      Arshdeep Singh
class              Btech
rollno                45
Age                   22
dtype: object

In [30]:
serd['name']

'Arshdeep Singh'

In [27]:
serd['class']

'Btech'

In [29]:
serd.Age

22

In [35]:
# dictionary series 
serd= pd.Series({'name':'Arshdeep Singh', 'class':'Btech', 'rollno':45,'Age':22}, index=['name', 'rollno','Age','Arshdeep Singh'])
serd

name              Arshdeep Singh
rollno                        45
Age                           22
Arshdeep Singh               NaN
dtype: object

In [36]:
# Series sum, max, min, average(mean), median

In [37]:
ser

0     23
1     56
2     44
3     32
4     10
5    100
6     46
7     89
8     91
dtype: int64

In [39]:
ser.sum()

491

In [40]:
ser.min()

10

In [41]:
ser.max()

100

In [42]:
ser.mean()

54.55555555555556

In [43]:
ser.median()

46.0

In [44]:
ser.mode()

0     10
1     23
2     32
3     44
4     46
5     56
6     89
7     91
8    100
dtype: int64

In [45]:
ser.std()

32.12518914773542

In [50]:
ser

0     23
1     56
2     44
3     32
4     10
5    100
6     46
7     89
8     91
dtype: int64

In [48]:
ser.idxmax()

5

In [49]:
ser.idxmin()

4

In [ ]:
# series null values - NaN values not a number values

ser1= pd.Series([45,None, 10,None, 100,None,67,89,8])
ser1

0     45.0
1      NaN
2     10.0
3      NaN
4    100.0
5      NaN
6     67.0
7     89.0
8     98.0
dtype: float64

In [70]:
ser1.isnull()

0    False
1     True
2    False
3     True
4    False
5     True
6    False
7    False
8    False
dtype: bool

In [71]:
ser1[ser1.isnull()]

1   NaN
3   NaN
5   NaN
dtype: float64

In [72]:
ser1[ser1.isna()]

1   NaN
3   NaN
5   NaN
dtype: float64

In [73]:
# ser1.dropna(inplace=True)

In [74]:
ser1

0     45.0
1      NaN
2     10.0
3      NaN
4    100.0
5      NaN
6     67.0
7     89.0
8     98.0
dtype: float64

In [75]:
ser1.isnull().sum()

3

In [76]:
ser1.hasnans

True

In [77]:
# ser1.fillna(ser1.mean(), inplace=True)
ser1.fillna(45, inplace=True)

In [78]:
ser1

0     45.0
1     45.0
2     10.0
3     45.0
4    100.0
5     45.0
6     67.0
7     89.0
8     98.0
dtype: float64